@use "../helpers/" as *;

.burger-button {
  @include square(rem(34));

  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: rem(9) rem(5);
  color: var(--color-braun);
  background-color: var(--color-light-rose);
  border: none;
  &.is-active {
    background-color: var(--color-icon);
    color: var(--color-dark);
    border-radius: 50%;
  }
  @include hover {
    color: var(--color-accent);
  }

  &.is-active {
    .burger-button_line {
      &:first-child {
        rotate: 45deg;
        transform-origin: 0;
        translate: 0.3em -0.2em;
      }

      &:nth-child(2) {
        rotate: -45deg;
      }

      &:last-child {
        width: 0;
      }
    }
  }

  @include mobile-above {
    @include hide;
  }

  &_line {
    width: 100%;
    height: rem(2);
    background-color: currentColor;
    border-radius: 1rem;
    transition-duration: var(--transition-duration);

    &:last-child {
      align-self: end;
      width: 50%;
    }
  }
}
