@use "../helpers/" as *;

.footer {
	padding-top: rem(40);
  padding-bottom: rem(35);

@include laptop {
	.container {
		max-width: rem(960);
		
	}
}
	@include tablet {
		.container {
		max-width: rem(640);
		
	}
	}
	@include mobile {
		.container {
		max-width: rem(460);
	}
	}

  &_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    @include tablet {
       flex-wrap: wrap;
    }
		@include mobile {
			flex-direction: column;
			gap:rem(50);
			
		}
  }

	  .menu {
			@include desktop-above {
				margin-left: rem(30);
			}
    &_list {
      display: flex;
      align-items: center;
      column-gap: rem(20);
			
			&-link {
			&.is-active {
			color: var(--color-dashed);
		 }
		 }
			// @include tablet {
			// 	column-gap: rem(20);
			// }
			&-item {
		text-transform:uppercase;

		@include tablet {
		font-size: rem(10);
		}
		@include mobile {
		font-size: rem(14);
		}
		 
		}
		@include mobile {
				flex-direction: column;
				row-gap: rem(22);
				
			}	
    }
			
}



  &_contacts {
    display: flex;
    flex-direction: column;
    gap: rem(16);
    align-items: start;

    @include desktop-above {
      width: rem(170);
    }
    @include tablet {
      width: 100%;
      align-items: center;
      gap: rem(10);
      
    }

		@include mobile {
			gap: rem(15);
		}
		.email {
			@include tablet {
				font-size: rem(10);
			}
		}
  }

  &_soc1al {
    display: flex;
    gap: rem(15);
    

		@include tablet {
			row-gap: rem(8);
		}
		@include mobile {
			row-gap: rem(15);
		}
  }
	.logo {
		@include mobile {
			display: flex;
			column-gap:rem(50);
		}
	}
}


