@use "../helpers/" as *;

.header {
  @include laptop {
    .container {
      max-width: rem(960);
    }
  }
  @include tablet {
    .container {
      max-width: rem(640);
    }
  }
  @include mobile {
    .container {
      max-width: rem(460);
    }
  }

  &_inner {
    padding-top: rem(4);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_overlay {
    @include laptop-above {
      display: contents;
    }

    @include mobile {
      position: fixed;
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: rem;
      padding: 1rem;
      transition-duration: var(--transition-duration);
      background: var(--color-braun);
    }
    @include mobile {
      &:not(.is-active) {
        @include hide;
        translate: 100%;
      }
    }
  }

  .menu {
    @include desktop-above {
      margin-left: rem(30);
    }

    &_list {
      display: flex;
      align-items: center;
      column-gap: rem(20);
      outline: none !important;
      border: none !important;
			
      &-link {
        &.is-active {
          color: var(--color-dashed);
        }
      }

      &-item {
        text-transform: uppercase;

        @include tablet {
          font-size: rem(10);
        }
        @include mobile {
          font-size: rem(14);
        }
      }
      @include mobile {
        flex-direction: column;
        row-gap: rem(22);
      }
    }
  }
}
