@use '../helpers/' as *;

.header {
	&_body {
		padding-block: rem(4);
		margin-left: auto;
		&-inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			
	}
	}
		&_overlay {
    @include laptop-above {
      display: contents;
    }

		@include tablet {
			      position: fixed;
						top: 0;
            right: 0;
            bottom: 0;
            width: 80%;
            max-width: 400px;
            background: var(--color-light-rose);
            padding: rem(80) rem(40);
            z-index: 1000;
            transform: translateX(100%);
            transition: transform 0.3s ease;
            
            &.is-active {
                transform: translateX(0);
            }


		}
  }

  &_menu {
			@include desktop-above {
				margin-left: rem(30);
			}
			
			@include tablet-b-above {
				margin-left:auto;
			}
    &-list {
      display: flex;
      align-items: center;
      column-gap: rem(20);

			
			@include tablet-b {
				column-gap: rem(10);
			}
			
    }

		&-item {
		text-transform:uppercase;
		}

    &-link {
      padding: rem(4) rem(14);
      font-family: var(--font-family-accent);
			font-weight: 400;

			&.is-active {
				color: var(--color-dashed);
			
			}
			
    }
  }
}