@use "../helpers/" as *;

.phone {
  display: flex;
  align-items: center;
  // gap: rem(8);
  text-decoration: none;
  color: var(--color-dark);
  white-space: nowrap;

  .logo_img {
    @include laptop {
      width: fluid(14, 14);
      .phone_number {
        font-size: rem(10);
      }
    }
		
  }
}
