@use './functions' as *;

$desktop: 1440.98;
$laptop: 1000.98;
$tablet-b: 820.98;
$tablet: 768.98;
$mobile: 480.98;
$mobile-s: 360.98;


@mixin desktop-above {
	@media (width > rem($desktop)) {
		@content;
	}
}

@mixin desktop {
	@media (width <= rem($desktop)) {
		@content;
	}
}


@mixin laptop-above {
	@media (width > rem($laptop)) {
		@content;
	}
}

@mixin laptop {
	@media (width <= rem($laptop)) {
		@content;
	}
}

@mixin tablet-b-above {
@media (width > rem($tablet-b)) {
		@content;
	}
}

@mixin tablet-b {
@media (width <= rem($tablet-b)) {
		@content;
	}
}

@mixin tablet-above {
	@media (width > rem($tablet)) {
		@content;
	}
}

@mixin tablet {
	@media (width <= rem($tablet)) {
		@content;
	}
}


@mixin mobile-above {
	@media (width > rem($mobile)) {
		@content;
	}
}

@mixin mobile {
	@media (width <= rem($mobile)) {
		@content;
	}
}


@mixin mobile-s-above {
	@media (width > rem($mobile-s)) {
		@content;
	}
}


@mixin mobile-s {
	@media (width <= rem($mobile-s)) {
		@content;
	}
}

@mixin hover($hasActiveEffectOnMobile: true) {
	@media (any-hover: hover) {
		&:hover {
			@content;
		}
	}

	@if ($hasActiveEffectOnMobile) {
		@media (any-hover: none) {
			&:active {
				@content;
			}
		}
	}
}