


@font-face {
	font-family: 'YesevaOne-Regular';
	src: url(../fonts/YesevaOne-Regular.woff2);
	font-weight: 300;
	font-style:normal;
	font-display: swap;
}

@font-face {
	font-family: 'Comfortaa-Regular';
	src: url(../fonts/Comfortaa-Regular.woff2);
	font-weight: 400;
	font-style:normal;
	font-display: swap;
}

@font-face {
	font-family: 'Comfortaa-SemiBold';
	src: url(../fonts/Comfortaa-SemiBold.woff2);
	font-weight: 600;
	font-style:normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url(../fonts/Roboto-Regular.woff2);
	font-weight: 400;
	font-style:normal;
	font-display: swap;
}

@font-face {
	font-family: 'Comfortaa-Bold';
	src: url(../fonts/Comfortaa-Bold.woff2);
	font-weight: 400;
	font-style:normal;
	font-display: swap;
}