@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    /* transition-duration: 0.03ms !important; єто свойство в реальном проекте нельзя отключать!!! */
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "YesevaOne-Regular";
  src: url(../fonts/YesevaOne-Regular.woff2);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Comfortaa-Regular";
  src: url(../fonts/Comfortaa-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Comfortaa-SemiBold";
  src: url(../fonts/Comfortaa-SemiBold.woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Comfortaa-Bold";
  src: url(../fonts/Comfortaa-Bold.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #FFFFFF;
  --color-dark: #000000;
  --color-light-gray: #FAFAFA;
  --color-light-rose: #FFF8F3;
  --color-braun: #7B6152;
  --color-braun-gray: #A5978E;
  --color-braun-rose:#A5978E;
  --color-accent: rgba(255, 81, 0, 0.963);
  --color-red:#834f58;
  --color-dashed: rgb(255, 132, 0);
  --color-icon: #BEA495;
  --border: 0.0625rem solid var(--color-braun-gray);
  --font-family-base:'Comfortaa-Regular' sans-serif;
  --font-family-accent:'YesevaOne-Regular' sans-serif;
  --gradient: linear-gradient( 45deg,
  var(--color-dark) 64%,
  var(--color-accent) 136%);
  --shadow: box-shadow: 0px 0px 0px 4px rgba(25, 25, 25, 1);
  --container-width:90rem;
  --container-padding-x:0.625rem;
  --transition-duration: 0.3s;
}
@media (width <= 62.56125rem) {
  :root {
    --container-width: 62.5rem;
  }
}
@media (width <= 48.06125rem) {
  :root {
    --container-width: 48rem;
  }
}
@media (width <= 30.06125rem) {
  :root {
    --container-width: 30rem;
  }
}
@media (width <= 22.56125rem) {
  :root {
    --container-width: 22.5rem;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2 - 1.25rem);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 48.06125rem) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (width > 48.06125rem) {
  .visible-tablet {
    display: none !important;
  }
}

body {
  font-size: clamp(0.625rem, 0.5416666667rem + 0.3703703704vw, 0.875rem);
  font-family: var(--font-family-base);
  color: var(--color-dark);
  background-color: var(--color-light-rose);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-dark);
  font-weight: 400;
}

h1, .h1,
h2, .h2 {
  font-family: var(--font-family-base);
}

h4, .h4,
h5, .h5,
h5, .h6 {
  font-weight: 400;
}

h1, .h1 {
  font-size: clamp(1.125rem, 0.4583333333rem + 2.962962963vw, 3.125rem);
  line-height: auto;
}

h2, .h2 {
  font-size: clamp(0.9375rem, 0.4166666667rem + 2.3148148148vw, 2.5rem);
  line-height: auto;
}

h3, .h3 {
  font-size: clamp(1.5rem, 1.1666666667rem + 1.4814814815vw, 2.5rem);
  line-height: auto;
}

h4, .h4 {
  font-size: clamp(0.5rem, 0.3958333333rem + 0.462962963vw, 0.8125rem);
  line-height: auto;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.1875rem dashed var(--color-dashed);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

.icon .phone-icon {
  padding-block: 0.3125rem;
  fill: #BEA495 !important;
}
@media (any-hover: hover) {
  .icon .phone-icon:hover {
    fill: green !important;
  }
}
@media (any-hover: none) {
  .icon .phone-icon:active {
    fill: green !important;
  }
}

.logo {
  max-width: clamp(4.375rem, 4.375rem + 0vw, 4.375rem);
}

.burger-button {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5625rem 0.3125rem;
  color: var(--color-braun);
  background-color: var(--color-light-rose);
  border: none;
}
@media (any-hover: hover) {
  .burger-button:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .burger-button:active {
    color: var(--color-accent);
  }
}
@media (width > 48.06125rem) {
  .burger-button {
    opacity: 0;
    visibility: hidden;
  }
}
.burger-button_line {
  width: 100%;
  height: 0.0625rem;
  background-color: currentColor;
  transition-duration: var(--transition-duration);
}

.header_body {
  padding-block: 0.25rem;
  margin-left: auto;
}
.header_body-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (width > 62.56125rem) {
  .header_overlay {
    display: contents;
  }
}
@media (width <= 48.06125rem) {
  .header_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    max-width: 400px;
    background: var(--color-light-rose);
    padding: 5rem 2.5rem;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }
  .header_overlay.is-active {
    transform: translateX(0);
  }
}
@media (width > 90.06125rem) {
  .header_menu {
    margin-left: 1.875rem;
  }
}
@media (width > 51.31125rem) {
  .header_menu {
    margin-left: auto;
  }
}
.header_menu-list {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
}
@media (width <= 51.31125rem) {
  .header_menu-list {
    column-gap: 0.625rem;
  }
}
.header_menu-item {
  text-transform: uppercase;
}
.header_menu-link {
  padding: 0.25rem 0.875rem;
  font-family: var(--font-family-accent);
  font-weight: 400;
}
.header_menu-link.is-active {
  color: var(--color-dashed);
}

.phone {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-dark);
  white-space: nowrap;
}
@media (width > 62.56125rem) {
  .phone {
    margin-left: auto;
    margin-right: 0;
    padding-right: 0;
  }
}
@media (width <= 48.06125rem) {
  .phone {
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
}
@media (width <= 30.06125rem) {
  .phone span:not(.icon) {
    display: none;
  }
}

.footer {
  padding-top: 2.5rem;
  padding-bottom: 2.1875rem;
}
.footer_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}
@media (width <= 62.56125rem) {
  .footer_inner {
    gap: 0rem;
  }
}
@media (width <= 48.06125rem) {
  .footer_inner {
    gap: 1.25rem;
    flex-wrap: wrap;
  }
}
.footer_contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
}
@media (width > 90.06125rem) {
  .footer_contacts {
    width: 14.375rem;
  }
}
@media (width <= 48.06125rem) {
  .footer_contacts {
    width: 100%;
    align-items: center;
    gap: 0.625rem;
  }
  .footer_contacts a.footer_phone {
    text-align: center;
    width: 100%;
    justify-content: center;
  }
}
.footer_soc1al {
  display: flex;
  gap: 0.9375rem;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
